@import '../../../CONSTANTS/Variables.scss';

.sub_cats {
  .inner {

    .tab {
      span {
        font-family: $font-pri;

        @include typo-14-400;
        color: $text-placehoder;
      }

      padding: .8rem 1.2rem;
      border-left: .1rem solid $line;
    }

  }
}

/* ********************** tablet ********************** */

@media only screen and (min-width: $mobile-b) {

 

  .sub_cats {
  
    .inner {
  
      .tab {

        span {
          

        }
        
  
        // padding: 1rem 1.8rem;
      }
  
    }
  }


}