@import '../../../../CONSTANTS/Variables.scss';

.status__tabs {
  @include verticFrame();
  background-color: $bg;

  padding: 0;
  border-radius: .8rem;

  .topsec {
    background-color: $off-white;
    .head {
      @include horizFrame();
      h5 {
        @include typo-14-700;
        color: $text-body;
      }
    }
    .inwrap {
      @include horizFrame($gap: .5rem);
      padding: 1.3rem 0;
  
      .tabs {
        width: 100%;
      }
    }

  }

  .list {
    @include verticFrame($gap: 0);

    .tabpanel {
      @include verticFrame($gap: 1rem);

    }
  }

  

}