@import '../../CONSTANTS/Variables.scss';


/* ********************** MOBILE ********************** */

.mobnav {
  
  
  .btn {

    svg {
      @include svg-24;

      path {
        fill: $primary-250;
      }
    }

    span {
      @include typo-12-400;
      color: $text-label;
      font-family: $font-pri;
    }
  }
  
}



/* ********************** tablet/desktop ********************** */

@media only screen and (min-width: $mobile-b) {

  .mobnav {
    display: none;
  }

}