@import '../../../../CONSTANTS/Variables.scss';

.pic_mob {
  display: flex;
  width: 100%;
  min-width: 0;
  .inner {
    position: relative;
    width: 100%;

    

    img {
      max-width: 100%;
      object-fit: cover;
      aspect-ratio: 2 / 2;
      max-height: 500px;
      width: 100%;
      border-radius: 0 !important;
    }
  }
}

/* ********************** tablet ********************** */

@media only screen and (min-width: $mobile-b) {

  .pic_mob {
    display: none;

    .inner {

      img {
      }
    }
  }
  
}