@import '../../CONSTANTS/Variables.scss';

.head {
  @include centerFrame();
  background-color: $off-white;
  
  .inner {
    @include horizFrame();
    padding: .5rem $pad-lr-m;
    width: 100%;

    .title {
      @include typo-12-400;
    }

    .close {
      font-size: $ico-20;
      .btn {
        background-color: $bg;
        color: $primary-250;
      }
    }
  }
}