@import '../../../../CONSTANTS/Variables.scss';

.info_mob {

  @include verticFrame($gap: $mob-row-gap);
  font-family: $font-pri;
  padding: $mob-pad-tb $pad-lr-m;
  background: $off-white;
  //margin-bottom: 1.3rem;

  .in_stock {
    @include alignFrame();
    padding: 0;
    svg {
      @include svg-16;
    }

    span {
      @include typo-12-700;
      text-align: right;

      color: $text-body
    }


  }

  .car {
    @include alignFrame();
    padding: 0;

    svg {
      @include svg-16;

    }

    span {
      @include typo-12-400;
      text-align: right;

      color: $text-label;
    }
  }

}

/* ********************** tablet ********************** */

@media only screen and (min-width: $mobile-b) {
  .info_mob {
    display: none;
  }
}