@import '../../../../CONSTANTS/Variables.scss';

.short_d {
  font-family: $font-pri;
  background-color: $off-white;
  
  //margin-bottom: .3rem;
  margin-top: -$mob-row-gap;

  .inner {
    @include verticFrame($gap: 1rem);

    padding: $mob-pad-tb 0;
    margin: 0 $pad-lr-m;

  }

  .bread {
    padding: 0;
    margin: 0;
    a {
      @include typo-12-400;
      color: $primary-250;
      padding: 0;
    }
  }

  .name {
    @include typo-14-700;
    color: $title-active;
    text-align: right;
  }

  .rate {
    display: flex;
    align-items: center;
    gap: .5rem;
    .ave {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        @include typo-12-400;
        color: $text-body;
        line-height: 0;
      }

      .ico {
        font-size: $ico-18;
        color: $warning-200;
      }
    }

    .reviews_len {
      @include typo-11-400;
      color: $text-placehoder;
    }
  }

  .short_desc {
    @include typo-12-400;
    text-align: right;
    color: $text-label;
  }
}


/* ********************** tablet ********************** */

@media only screen and (min-width: $mobile-b) {

  .short_d {
    padding: 0;
    background-color: $bg;
  
    .bread {
      a {
        @include typo-14-700;
       
      }
    }
  
    .name {
      text-align: right;
      @include typo-19-700;
    }
  
    .rate {
      
      .ave {
        gap: .2rem;  
  
        span {
          @include typo-12-700;
          line-height: unset;
        }
  
        .ico {
          font-size: $ico-16;
        }
      }
  
      .reviews_len {
        @include typo-11-400;
      }
    }
  
    .short_desc {
      @include typo-14-400;
    }
  }

}