@import '../../../../CONSTANTS/Variables.scss';

.long_desc {
  
  .line {
    display: block;
  }

  .inner {
    @include verticFrame($gap: $row-gap-m);
    padding: $pad-tb-m 0;
    margin: 0 $pad-lr-m;
  }

  .head {
    color: $text-body;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-align: right;
    border-bottom: .1rem solid $primary-250;
    padding-bottom: .2rem;

    align-self: flex-start;
  }

  .content {
    color: $text-body;
   
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-align: right;

  }

  .more {
    // margin-bottom: .5rem; 
    align-self: flex-start;
    span {
      color: $primary-250;

      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6rem;
      letter-spacing: 0em;
      text-align: right;

    }

    ico {

    }
  }


}

/* ********************** tablet ********************** */

@media only screen and (min-width: $mobile-b) {

  .long_desc {

    .line {
      display: none;
    }
    
    .inner {
      margin: 0;
      padding-bottom: 0;
    }

    padding-right: 0;
    padding-left: 0;
    .head {
      @include typo-16-700;
    }
  
    .content {
      @include typo-14-400;
  
    }
  
    .more {
      
      span {
        @include typo-12-700
      }
  
      ico {
        font-size: $ico-18;
      }
    }
  
  
  }
}